body{
    margin: 0px;   /*Eliminamos los margenes*/
}

ul{
    list-style: none; /*Quitamos los bullets*/
    padding: 0px; 
    margin: 0px;
}

.navbar{
    display: flex; /*Lo organizamos de forma vertical*/
    justify-content: space-between; /*Los separamos haciendo que se divida en el espaci0*/
    padding: 10px; /*lo separa de los extremos con este padding*/
    background-color:rgb(237,237, 238);
    border-bottom: 1px solid grey;
    box-shadow: 1px 1px;
}

.navbar > li {
    display: flex;
    align-items: center;
}

.logo{
    height: 70px;
}

.button{
    border: 0px;
    padding: 5px 10px;
    border-radius: 10px; /*Redondeado del contorno*/
    font-weight: bolder; /*Que la fuente se vea con mas potencia*/
    box-shadow: 1px 1px green; /*Sombra del elemento valor a la derecha valor abajo y color*/
}

.button:hover{
    cursor: pointer; /*Cuando pasa el mouse por el boton cambia el cursoor*/
    transform: scale(1.3); /*Que se ponga mas grande al pasar el mouse*/
}
.mainButton{
    background-color: #1bb76e; /*Fondo del boton*/
    color: white; /*Color de la letra del boton*/
}

.mainButton:hover{
    cursor: pointer; /*Cuando pasa el mouse por el boton cambia el cursoor*/
    background-color: green; /*Cuando pasa el mouse por el boton cambia el color*/
    
}

.secondaryButton{
    background-color: #66d8f5; /*Fondo del boton*/
    color: white; /*Color de la letra del boton*/
}

.secondaryButton:hover{
    cursor: pointer; /*Cuando pasa el mouse por el boton cambia el cursoor*/
    background-color: rgb(33, 66, 155); /*Cuando pasa el mouse por el boton cambia el color*/
}
    
.buscar{
    background-color: white;
    border: 1px solid grey ;
    padding: 4px;
    border-radius: 8px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}



.buscar:focus-within{ /*cambiarle propiedades cuando seleccionemos el input buscar*/
    border: 1px solid blue;
}

.buscar > input{
    outline: none; /*borde externo*/
    border : 0px; /*quitarla el burde al campo input*/
}

.contenedorImagen{
    width: 240px;
    height: 350px;
    display: flex;
}

.contenedorImagen > img {
    object-fit: cover; /*funcionan si el padre tiene display flex, trabaja la imagen con el tamaño del contenedor*/
    width: 100%;/*ajustar el tamaño maximo al espacio del contenedor par que todas sean del mismo tamaño*/
    border-top-right-radius: 10px;/*bordes redondeados*/
    border-top-right-radius: 10px;
    margin-bottom:10px ;

}

.contenedorImagen:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.breedCardContainer{/*contenedor para las tarjetas de las fotos*/
    display: flex; /*le aplico el display para poder que me quedan en horizontal y poderlas organizar*/
}

.breedCard{
    margin: 10px; /*Separar las imagenes una de la otra*/
    background-color: rgb(70, 78, 90);
    box-shadow: 5px 10px 5px rgb(231, 231, 231) ; /*sombra*/
    border-top-right-radius: 10px;/*bordes redondeados*/
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.breedTitle{
    color: white;
    margin: 10px;
    font-weight: bold; /*negrita*/
    font-size: x-large ; /*grande*/
}

.titulo{
    color: grey;
    display: flex;
    justify-content: center;
}

.interactionContainer{
    display: flex;
}

/*.icon-cog{
    color: red;
}*/

.interactionCard{
    margin: 10px; /*Separar las imagenes una de la otra*/
    background-color: rgb(70, 78, 90);
    justify-content: space-between;
    color: white;
    font-weight:lighter ;
}


